@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

.container {
    display: grid;
    grid-template-columns: auto auto auto;
}


@media screen and (min-width:300px) and (max-width:500.98px){
    .container {
        display: grid;
        grid-template-columns: auto;
    }
}
@media screen and (min-width:501px) and (max-width:1023.98px){
    .container {
        display: grid;
        grid-template-columns: auto auto ;
    }
}



.groupData{
    display: flex;
    flex-direction: row;
}
.groupData p{
    width: 50%;
    text-align: center;
}
.groupDataModal{
    display: flex;
    flex-direction: row;
}
.groupDataModal p{
    width: 50%;
    text-align: center;
}
.groupData p:nth-child(1){
    order: 2;
    font-size: 1.5rem;
}
.groupData p:nth-child(2){
    order: 1;
    margin: auto;
}

.card {
    padding: 25px;
    margin: 20px auto;
    width: 300px;
    border-radius: 34px;
    background: #ffffff;
    box-shadow: 14px 14px 27px #dbdbdb,
        -14px -14px 27px #ffffff;
}

.imgProduct {
    width: 100%;
}
.imgProductModal{
    width: 100%;
    border-radius: 20px;
}
.titleProductModal{
    font-size: 1.5rem;
    color: blue;
}

.productPrice {
    font-family: 'Roboto', sans-serif;
    font-size: 500;
}
.groupButton{
    width: 100%;
}
.groupButton button{
    width: 40%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0 5%;
    border-radius: 10px;
}
.groupButton button:nth-child(1){
    background-color: rgb(0, 0, 163);
}
.groupButton button:nth-child(2){
    background-color: green;
}
.groupButton button:nth-child(1):hover{
    background-color: rgb(57, 57, 155);
}
.groupButton button:nth-child(2):hover{
    background-color: rgb(43, 92, 43);
}
.bannerProductos{
    width: 100%;
    margin-bottom: 25px;
}
.navBar{
    height: 60px;
    padding-top: 20px;
}
.urlRouter{
    margin:0 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    color: rgb(10, 10, 170);
}
.footerModal{
    background-color: darkblue;
    color: white;
    border-radius: 25px;
    padding-left: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.footerModal p{
    width: 50%;
}